{% set platform_settings = food_platform_settings() %}
{% set currencySymbol = platform_settings.derived_settings.currency_symbol %}
{% if element.additionalData.order is defined %}
{% set order = element.additionalData.order %}
{% endif %}
    
<div id="food-order-{{ order.order_id}}">
	<div class="live-orders-expanded-outer">
		<div class="live-orders-expanded-section">
			 
			<div class="live-order-scree-food-image"> <img src="{{ platform_settings.derived_settings.logo_url }}" /> </div>
			
			<div class="col-sm-12">
				<div class="col-sm-8">
					<div class="live-orders-expanded-orderid">
						{{ order.restaurant.name }}
						<br /> {{ platform_settings.order_settings.order_number_prefix }}#-{{ order.order_id }}
						<br /> {{ order.derived_fields.created_time_formatted }}
					</div>

					<div class="live-orders-expanded-order-details" style="border-top:1px solid #cccccc; padding-top:18px;">
						<div class="left bold Methodsx" style="float:left; color:green;font-size:18px;font-family: Helvetica;">
							{% if order.delivery_mode == constant('\\Drupal\\food\\Core\\Restaurant\\DeliveryMode::Delivery') %}
								Delivery
							{% else %}
								Pickup
							{% endif %}
						</div>
						<div class="clear"></div>
					</div><br />

					<div class="live-orders-expanded-order-details">
						<div class="left" style="float:left;">
							{% if order.status == constant('\\Drupal\\food\\Core\\Order\\OrderStatus::Submitted') %}
								Submitted
							{% elseif order.order_status == constant('\\Drupal\\food\\Core\\Order\\OrderStatus::Confirmed') %}
								Confirmed
							{% elseif order.order_status == constant('\\Drupal\\food\\Core\\Order\\OrderStatus::Cancelled') %}
								Cancelled
							{% endif %}
						</div>
						<div class="right" style="float:right;">
							{% set timestamp = (order.created_time / 1000)|round(0, 'floor') %}
							{{ timestamp|date('Y-m-d H:i') }}
						</div>
						<div class="clear"></div>
					</div>
					{% if order.order_details.schedule_date is not empty %}
						<br />
						<div class="live-orders-expanded-order-details">
							<div class="left" style="float:left;">Scheduled for </div>
							<div class="right" id="sch-time" style="float:right;">{{ order.order_details.schedule_date }}, {{ order.order_details.schedule_time }}</div>
							<div class="clear"></div>
						</div>
						<br />
					{% endif %}
					<div class="clear"></div>
					<div class="live-orders-expanded-order-details" style="border-bottom:1px solid #cccccc; padding-bottom:10px;">
						<div class="left" style="float:left;">From</div>
						<div class="right text_dots" style="float:right;"> <a href="#">{{ order.restaurant.name }}</a> </div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="r_panel gray">
						<p>
							<a href="javascript:void(0)" onclick="printElement('#food-order-{{ order.order_id}}')" title="Print Order">
								Print Order
							</a>
							<br /><br />
							<a href="https://maps.google.com/maps?daddr={{ order.user_address }}" onclick="show map direction" title="Map Directions" target="_blank">
								Map Directions
							</a>
							<br /><br />
							<a href="/contact" onclick="for live chat" title="Site Support">
								Site Support
							</a>
							<br /><br />
							{% if order.status == constant('\\Drupal\\food\\Core\\Order\\OrderStatus::Submitted') %}
								<a href="{{ order.derived_fields.partnerConfirmUrl }}" class="use-ajax" title="Confirm order" style="background:#229e53; color:#fff; padding:5px; border-radius:5px;">
									Confirm order
								</a>
								<br /><br />                       
									<a href="{{ order.derived_fields.partnerCancelUrl }}" class="use-ajax" title="Cancel order" style="background:#e11b1b; color:#fff; padding:5px; border-radius:5px;">
										Cancel order
									</a>							
							{% endif %}
							{% if order.status == constant('\\Drupal\\food\\Core\\Order\\OrderStatus::Confirmed') %}
									{{ order.derived_fields.partnerOrderCancelCommentUrl }}
							{% endif %}
						</p>
					</div>
				</div>
			</div>
			<p>For price adjustments or any other issues, please contact {{ platform_settings.partner_support_phone_number }}</p>
			<hr>
			<br />
			<div class="live-orders-screen-full-order-receipt">                
                <div style="width:100%; float:left; margin: 10px 0 0 0 ; box-shadow:0 0 10px 0 #ccc; border: 1px solid#ccc; padding:10px;">
                    <div style="background-color:#fff;width:100%;height:5%;">
                        <img class="receipt-logo" src="{{ platform_settings.derived_settings.logo_url }}">
                        <a href="javascript:void(0)" onclick="printElement('#food-order-{{ order.order_id}} ')" class="print-receipt-btn" style="float:right">Print Receipt</a>
                    </div>
                    <hr>
                    <div class="live-orders-expanded-order-receipt-table">
                        <table class="live-orders-order-details">
                            <tbody>
                                <tr>
                                    <td class="labels">From:</td>
                                    <td> <b>{{ order.restaurant.name }}</b>
                                        <br><a class="blue" target="_blank" href="">{{ order.restaurant.formatted_address }}</a>
                                        <br /> 
                                    </td> 
                                    {% if order.order_details.delivery_mode == 1 %}
                                        <td class="labels">Delivery:</td>
                                        <td> 
                                            <b> {{ order.user_name }}</b>
                                            <br /> {{ order.user_address }}, {{ order.user_apartment_number }}
                                            <br /> {{ order.user_phone }} 
                                        </td> 
                                    {% else %}
                                        <td class="labels">Pickup:</td>
                                        <td> 
                                            <b> {{ order.user_name }}</b>
                                            <br /> {{ order.user_phone }} 
                                        </td> 
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                        <table class="live-orders-payment-details" style="width:100%;">
							<thead style=""><tr>
									<th>Item</th>
									<th class="small_col">Price</th>
									<th class="small_col qty">Qty</th>
									<th class="small_col">Sum</th>
								</tr>
							</thead>
							<tbody>
								{% set items = order.order_details.items %}
								{% for item in items %}
                                    <tr>
                                        <td>{{ item.item_name }}
                                            {% if item.instructions != NULL %}
                                                <br> {{ item.instructions }}
                                            {% endif %}
                                        </td>
                                        <td>{{ item.item_total_amount/item.quantity }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.item_total_amount }}</td>
                                    </tr>

								{% endfor %}
                                {% if order.order_details.instructions != NULL %}
                                    <tr class="instructions">
                                        <td colspan="4"><h5>Special Instructions:</h5>{{ order.order_details.instructions }}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if order.order_details.condiments != NULL %}
                                    <tr class="instructions">
                                        <td colspan="4"><h5>Condiments & Utensils:</h5>{{ order.order_details.condiments|join(', ') }}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if order.order_details.num_people != NULL %}
                                    <tr class="instructions">
                                        <td colspan="4"><h5>No. of People:</h5>{{ order.order_details.num_people }}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if order.order_details.breakup.items_total_amount %}
                                    <tr>
                                        <td>Subtotal:</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>{{ order.order_details.breakup.items_total_amount }}</td>
                                    </tr>

                                    {% if order.order_details.breakup.total_discount_amount > 0 %}
                                        <tr>
                                            <td>Discount:</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>{{ order.order_details.breakup.total_discount_amount }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if order.order_details.breakup.tip_amount > 0 %}
                                        <tr>
                                            <td>Tip:</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>{{ order.order_details.breakup.tip_amount }}</td>
                                        </tr>
                                    {% endif %}

                                    <tr>
                                        <td>Tax:</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>{{ order.order_details.breakup.tax_amount }}</td>
                                    </tr>

                                    <tr>
                                        <td>Total:</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>{{ currencySymbol }}{{ order.order_details.breakup.net_amount }}</td>
                                    </tr>
                                {% endif %}
				            {% if order.status == constant('\\Drupal\\food\\Core\\Order\\OrderStatus::Cancelled') and order.order_details.cancel_comment is not empty %}
								<tr>
									<td><strong>Cancel Comment:</strong></td>
									<td colspan="3"><strong>{{ order.order_details.cancel_comment }}</strong></td>
								</tr>
							{% endif %}
							</tbody>
						</table>
                        
                    </div>
                </div>				
			</div>
		</div>
	</div>
</div>
