{% set platform_settings = food_platform_settings() %}
{% set currencySymbol = platform_settings.derived_settings.currency_symbol %}
{% set header = element['#header'] %}
{% set rows = element['#rows'] %}

<div class="table-responsive">
    <table class="food-entity-list-table table table-hover table-striped" data-striping="1">
        <thead>
            <tr>
				{% for cell in header %}
					<th>{{ cell.data }}</th>
				{% endfor %}
            </tr>
        </thead>

        <tbody>
            {% if rows is empty  %}
        		<tr><td colspan={{ header | length }}><h4>No Records Found!</h4></td></tr>
        	{% endif %}
			{% for row in rows %}
				<tr onclick="jQuery('#order-row-{{ row.order.order_id }}').toggle()">
					{% for cell in header %}
						<td>{{ row.data[cell.field] }}</td>
					{% endfor %}
				</tr>
				<tr id="order-row-{{ row.order.order_id }}" style="display: none;">
					<td colspan="{{ header|length }}">
						{{ include('food-partner-order-detail.html.twig', {order: row.order}) }}
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
</div>
