{% set platform_settings = food_platform_settings() %}
{% set currencySymbol = platform_settings.derived_settings.currency_symbol %}
{% set delivery = constant('\\Drupal\\food\\Core\\Restaurant\\DeliveryMode::Delivery') %}

<div>
    <div class="delivery-details-screen">
        <div class="col-md-9">
            <div id="map" class="col-md-9" style="height: 400px"></div>
            <div id="route-detail"></div>
            {% if element.additionalData.cart.order_details.delivery_mode == delivery %}
            <p><a id="get-current-user-address">Get Current Location</a></p>
                {% if element.user_addresses != NULL and element.user_addresses|length > 0 %}
                    <div class="my-address-slider">
                        <div class="container">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- {{ element.additionalData.addAddressLink }} -->
                                        <!-- Controls -->
                                        <div class="controls pull-right">
                                            <a class="left fa fa-chevron-left btn btn" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn" href="#carousel-example" data-slide="next"></a>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">

                                        {% set divClosed = true %}
                                        {% for user_address in element.user_addresses %}
                                            {% if loop.index0 % 3 == 0 %}
                                                <div class="item {{ loop.index0 == 0? 'active' : '' }}"><div class="row">
                                                {% set divClosed = false %}
                                            {% endif %}
                                            <div class="col-sm-4">
                                                <div class="col-item">
                                                 
                                                    {{ user_address.delete_link }}  
                                                    <div class="col-item user-address" data-address-id="{{ user_address.address_id }}">
                                                        <div class="address-slider">
                                                            <h2>{{ user_address.contact_name }} <span class="{{ (user_address.type) ? 'glyphicon glyphicon-briefcase' : 'glyphicon glyphicon-home' }}"></span></h2>
                                                            <h4>{{ user_address.address_line1 }},{{ user_address.address_line2 }} {{ user_address.city }}, {{ user_address.state }}, {{ user_address.postal_code }}, {{ user_address.country }}</h4>
                                                            <h5>{{ user_address.phone_number }}</h5>
                                                        </div>
                                                    </div>                          
                                                </div>
                                            </div>
                                            {% if ((loop.index0 + 1) % 3 == 0) %}
                                                </div></div>
                                                {% set divClosed = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if divClosed == false %}
                                            </div></div>
                                            {% set divClosed = true %}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}        

            <div class="col-md-6">
                {{ element.form }}
            </div>
        </div>

        <div class="col-md-3">
            <div class="user-cart-container">
                {{ element.user_cart_block_html }}
            </div>
        </div>
    </div>
</div>
